In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
name=input("Enter a name :")
print(name)
print(type(name))

Enter a name :Santhosh
Santhosh
<class 'str'>

In [5]:
a=input("Enter a number A :")
b=input("Enter a number B :")
c=a+b
print(c)
print(type(c))

Enter a number A :3
Enter a number B :2
32
<class 'str'>

In [6]:
a=int(input("Enter a number A :"))
b=int(input("Enter a number B :"))
c=a+b
print(c)
print(type(c))

Enter a number A :2
Enter a number B :3
5
<class 'int'>

In [9]:
a=float(input("Enter a Number A :"))
b=float(input("Enter a number B :"))
c=a+b
print(c)
print(type(c))
print(type(b))

Enter a Number A :2.5
Enter a number B :3
5.5
<class 'float'>
<class 'float'>

In [2]:
name1,name2,name3=input("Enter a 3 name :")
print(name1)
print(name2)
print(name3)

Enter a 3 name :Santhosh

ValueError: too many values to unpack (expected 3)

In [3]:
name1,name2,name3=input("Enter a 3 name :")
.split('')
print(name1)
print(name2)
print(name3)

SyntaxError: invalid syntax (441316626.py, line 2)

In [5]:
name1,name2,name3=input("Enter a 3 name :")
.split(',')
print("Name 1 :",name1)
print("Name 2 :",name2)
print("Name 3 :",name3)

SyntaxError: invalid syntax (901079936.py, line 2)

In [19]:
a=  """
    Lorem sport of the authority of a coming tool of the games and follow a name and being a to be a accomodate of the current 
    Enginerring of the given test of the right hand side of the given solution for a problem of the particular solution.
    """
print(type(a))
print(a)

<class 'str'>

    Lorem sport of the authority of a coming tool of the games and follow a name and being a to be a accomodate of the current
    Enginerring of the given test of the right hand side of the given solution for a problem of the particular solution.

In [20]:
para=[10,20,30,40,50]
print(para)

[10, 20, 30, 40, 50]

In [3]:
# Without show a List Symbols

para=["10","20","30","40"]
print(','.join(para))

10,20,30,40

In [30]:
# Now values adding into a List using a while loop

Para=[]
print("Enter a Para :")

while True:
    paravalues=input()
    if paravalues:
        Para.append(paravalues)
    
    else:
        break
        
print(Para)

Enter a Para :
Ramu is a Good Boy
Seenu is a comedy Boy

['Ramu is a Good Boy', 'Seenu is a comedy Boy']

In [6]:
Paragraph=[]
print("Enter a paragraph :")

while True:
    paravalues=input()
    
    if paravalues:
        Paragraph.append(paravalues)
    
    else:
        break
print(Paragraph)

print()

output="/n".join(Paragraph)
print(output)

Enter a paragraph :
Ramu is a good Boy
Seenu is a comedy Boy

['Ramu is a good Boy', 'Seenu is a comedy Boy']

Ramu is a good Boy/nSeenu is a comedy Boy

In [31]:
# Basic programs in Python

a=5
b=3
c=a+b
print(c)

8

In [33]:
print(a)
print(type(a))

5
<class 'int'>

In [34]:
print(b)
print(type(b))

3
<class 'int'>

In [35]:
a=input("Enter a number A :")
b=input("Enter a number B :")
c=a+b
print("Total :",c)

Enter a number A :10
Enter a number B :5
Total : 105

In [37]:
# Integer value convert into a string value

a=int(input("Enter a number A :"))
b=int(input("Enter a number B :"))
c=a+b
print("Total :",str(c))

Enter a number A :3
Enter a number B :2
Total : 5

In [42]:
# String and string functions

# Lowercase convert into Uppercase

s="Sam Santhosh"
print(s)

Sam Santhosh

In [39]:
print(type(s))

<class 'str'>

In [53]:
print(s.upper())
print(s.lower())
print(s.capitalize())      # Used to print first letter capital
print(s.title())           # Used to print each first letter print to a Captial#
print(s.count('a'))
print(s.endswith("es"))
print(s.find('o'))
print(s.find('o',3))
print(s.replace('o','e'))

SAM SANTHOSH
sam santhosh
Sam santhosh
Sam Santhosh
2
False
9
9
Sam Santhesh

In [5]:
a="Christroper12"
print("Is Upper :",a.isupper())
print("Is Lower :",a.islower())
print("Is Alpa Numeric :",a.isalnum())
print("Is Alpa :",a.isalpha())

Is Upper : False
Is Lower : False
Is Alpa Numeric : True
Is Alpa : False

In [6]:
s="He \n is \n good"
print(s)
print(s.splitlines())
print(s.splitlines(True))

He
 is
 good
['He ', ' is ', ' good']
['He \n', ' is \n', ' good']

In [8]:
a="Tutor Joes computer education"
print(a.split(" "))

['Tutor', 'Joes', 'computer', 'education']

In [7]:
a="Tutor Joes computer education"
print(a.split(","))

['Tutor Joes computer education']

In [7]:
a=" Santhosh    "
print(a)
print(len(a))
print(a.strip())
print(len(a.strip()))
print(len(a.rstrip()))
print(len(a.lstrip()))

 Santhosh
13
Santhosh
8
9
12

In [10]:
s="12-05-2002"
print(s)
print(s.partition("-"))

12-05-2002
('12', '-', '05-2002')

# String Manipulation

In [25]:
s="Sample"
print(s)
print(s[0:3])
print(s[:5])
print(s[1:])

Sample
Sam
Sampl
ample

In [29]:
print(s[-1])
print(s[-2:-1])
print(s[:-1])
print(s[::-1])    # Used to Reverse

e
l
Sampl
elpmaS

# Arithmetic Operations

In [31]:
a=120
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)    # Used to find a Remainder.
print(a//b)   # Used to find a Quotient.
print(2**3)   # Used to find a power value.

122
118
240
60.0
0
60
8

# Assignment Operators

In [32]:
a=125
print(a)

125

In [33]:
a+=5    # a=a+5
print(a)

130

In [39]:

a=100

a-=10
print(a)

a*=10
print(a)

a/=10
print(a)

a%=10
print(a)

# a//=10
# print(a)

90
900
90.0
0.0
0.0

# Comparsion Operators Or Relation Operators

In [ ]:
"""
== Equal

!= Not equal

> Greater than

< Lesser than

>= Greater than (or) Equal to

<= Lesser than (or) Equal to

"""

# Logical operation In pyhton

In [ ]:
"""
and  &&

or   //

not  /

"""

In [42]:
a=25

print(a>=10 and a<=20)
print(a>=10 or a<=20)
print(not(a>=10 and a<=20))

False
True
True

# Bitwise Operators

In [ ]:
"""
&  AND

/  OR

^  XOR

~  NOT

<<  LEFT SHIFT

>>  RIGHT SHIFT

"""

In [50]:
a=25
b=45

print(a&b)
print(a^b)
print("Using a Pipe symbol a/b")
print(~a)
print(a<<2)
print(a>>2)

9
52
Using a Pipe symbol a/b
-26
100
6

# If statement in Pyhton

In [11]:
"""
Write a program to check the given number is Even number

"""

'\nWrite a program to check the given number is Even number\n\n'

In [53]:
n=int(input("Enter a Number :"))

if n%2==0:
    print(n, "is a Even number ")
    
else:
    print(n, "is a Odd number ")

Enter a Number :3
3 is a Odd number

In [ ]:
""" Write a progrma for eligibility of a vote by enter his name his/her and age """

In [55]:
name=input("Enter a name :")
age=int(input("Enter a age :"))

if age>=18:
    print(name,"age is",age,"Eligible for vote.")
    
else:
    print(name,"age is",age,"not eligible for vote.")

Enter a name :Santhosh
Enter a age :20
Santhosh age is 20 Eligible for vote

# elif statement

In [ ]:
"""

0       No fine
1-5     0.5
5-10    1
10-30   5
>30     Membership Cancel

"""

In [58]:
number=int(input("Enter a number of days :"))

if(number==0):
    print("Good no fine")
    
elif(number>=1 and number<=5):
    print("Fine amount :",0.5*number)
    
elif(number>5 and number<=10):
    print("Fine amount :",1*number)
    
elif(number>10 and number<=30):
    print("Fine amount :",5*number)
    
else:
    print("Membership Cancelled")

Enter a number of days :32
Membership Cancelled

# Nestedif Statement

In [ ]:
"""
Result 

If pass grade

   90-100  A
   
   80-89   B
   
   70-79   c
   
   else D
   
"""

In [2]:
num1=int(input("Enter a mark1 :"))
num2=int(input("Enter a mark2 :"))
num3=int(input("Enter a mark3 :"))

Total=num1+num2+num3

Average=Total/3.0

print("Total Marks :",Total)
print("Average Marks :",Average)

if num1>=40 and num2>=40 and num3>=40 :
    print("Yu are pass ")
    
else:
    print("Fail")

Enter a mark1 :45
Enter a mark2 :45
Enter a mark3 :45
Total Marks : 135
Average Marks : 45.0
Yu are pass

In [4]:
num1=int(input("Enter a mark1 :"))
num2=int(input("Enter a mark2 :"))
num3=int(input("Enter a mark3 :"))

Total=num1+num2+num3

Average=Total/3

print("Total Marks :",Total)
print("Average Marks :",Average)

if num1>=40 and num2>=40 and num3>=40 :
    print("Yu are pass ")
    if Average>=90 and Average<=100:
        print("Grade A")
    elif Average>=80 and Average<90:
        print("Grade B")
    elif Average>=70 and Average<80:
        print("Grade C")
    elif Average>=60 and Average<70:
        print("Grade D")
    
else:
    print("Fail")
    print("Grade")

Enter a mark1 :67
Enter a mark2 :67
Enter a mark3 :67
Total Marks : 201
Average Marks : 67.0
Yu are pass
Grade D

# While Loop

In [5]:
i=1

while i<=20:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
# Print a Odd Numbers 

n=20
i=1

while i<=n:
    print(i)
    i+=2

1
3
5
7
9
11
13
15
17
19

In [8]:
# Print a Even Numbers 

n=20
i=2

while i<=n:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

# Continue Statement

In [13]:
i=1

while i<=20:
    if i%2==0:
        i+=1
        continue;
    print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

In [1]:
i=1
while i<=20:
    if i==10:
        break;
        
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

# Range in Python

In [3]:
a=list(range(5))
print(a)
print(type(a))

[0, 1, 2, 3, 4]
<class 'list'>

In [4]:
print(list(range(5)))

print(list(range(2,5)))   # For last value (n-1)

print(list(range(1,10,1)))  # For this last value is Incremental value

[0, 1, 2, 3, 4]
[2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print(list(range(1,20,2)))

print(list(range(1,20,3)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 7, 10, 13, 16, 19]


# For Loop

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(1,5):
    print(i)

1
2
3
4

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(5):
    a=int(input("Enter a number :"))
    b=int(input("Enter a number :"))
    print(a+b)

Enter a number :1
Enter a number :2
3
Enter a number :2
Enter a number :3
5
Enter a number :3
Enter a number :4
7
Enter a number :45
Enter a number :54
99
Enter a number :3
Enter a number :2
5

# Pattern Sums

In [ ]:
"""
   j
i  *
   **
   ***
   ****
   *****
   
   (i rows) (j columns)
   
"""

In [11]:
for i in range(5):
    for j in range(i):
        print(j)
    print()

0

0
1

0
1
2

0
1
2
3

In [18]:
for i in range(5):
    for j in range(i):
        print(" * ",end="")
    print( )

 *
 *  *
 *  *  *
 *  *  *  *

In [19]:
for i in range(6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [22]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=" ")
    print( )

* * * * *
* * * *
* * *
* *
*

In [24]:
for i in range(65,70,1):
    print(chr(i))

A
B
C
D
E

In [26]:
for i in range(65,70,1):
    for j in range(65,70,1):
        print(chr(i),end="")
    print()

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

# While else and for else

In [28]:
i=1

while i<=5:
    print(i)
    i+=1
    
else:
    print("Loop completed")

1
2
3
4
5
Loop completed

In [30]:
i=0

while i<=5:
    if i==3:
        break;
    print(i)
    i+=1
    
else:
    print("Loop completed")

0
1
2

In [31]:
for i in range(0,6):
    print(i)
    
else:
    print("Loop Completed")

0
1
2
3
4
5
Loop Completed

In [32]:
for i in range(0,6):
    if i==4:
        break;
    print(i)
    
else:
    print("Loop Completed")

0
1
2
3

# List in Python

In [ ]:

"""
  Sequence type
  
  Mutuable
  
"""

In [8]:
a=[1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [9]:
a[0]=100     # Assign a value to 0 th index
print(a)

[100, 2, 3, 4, 5]

In [10]:
# Now try to Slicing

print(a[1])

print(a[1:5])

print(a[:4])

print(a[1:])

print(a[-1])

print(a[:-1])

print(a[2:-1])

2
[2, 3, 4, 5]
[100, 2, 3, 4]
[2, 3, 4, 5]
5
[100, 2, 3, 4]
[3, 4]

In [38]:
a=[1,"Santhosh",2,3]
print(a)
print(type(a))

[1, 'Santhosh', 2, 3]
<class 'list'>

In [39]:
print(a[0],"type is",type(a[0]))

print(a[1],"type is",type(a[1]))

1 type is <class 'int'>
Santhosh type is <class 'str'>

In [42]:
a=[1,"Santhosh",2,3,["Sam","Ram"]]

print(a[4],"is type",type(a[4]))

print(a[4][1])   # Now try to find index in a list

['Sam', 'Ram'] is type <class 'list'>
Ram

In [43]:
a=[10,20,30,40]
print(a)

a.clear()
print(a)

[10, 20, 30, 40]
[]

In [45]:
a=[10,20,30,40]

b=a.copy()
print(b)

[10, 20, 30, 40]

In [46]:
a=[10,20,30,40,20,30,20,40]
print(a.count(20))

3

In [47]:
print(a.index(30))

2

In [48]:
print(len(a))

print(max(a))

print(min(a))

8
40
10

In [50]:
a=[10,20,30,40]
print(a)

a.pop()  # pop func is used to Delete a last element
print(a)

[10, 20, 30, 40]
[10, 20, 30]

In [51]:
a=[10,20,30,40]
print(a)

a.pop(0)  # pop func is used to Delete a Index element
print(a)

[10, 20, 30, 40]
[20, 30, 40]

In [52]:
a=[10,20,30,40]
print(a)

a.remove(20)  # remove func() is used to remove a value
print(a)

[10, 20, 30, 40]
[10, 30, 40]

In [53]:
name=["Santhosh"]
print(name)

['Santhosh']

In [55]:
name.append("Ramu")

name.append("Seenu")

name.append("Sommu")

print(name)

['Santhosh', 'Ramu', 'Seenu', 'Sommu', 'Ramu', 'Seenu', 'Sommu']

In [56]:
name.append("Raju","Bheem")
print(name)

TypeError: list.append() takes exactly one argument (2 given)

In [58]:
nameval=["Raju","Bheem"]
name.extend(nameval)
print(name)

['Santhosh', 'Ramu', 'Seenu', 'Sommu', 'Ramu', 'Seenu', 'Sommu', 'Raju', 'Bheem']

In [3]:
name=['Santhosh', 'Ramu', 'Seenu', 'Sommu', 'Ramu', 'Seenu', 'Sommu']
print(name)

print("------------------")

name.insert(1,"Suriya")
print(name)

['Santhosh', 'Ramu', 'Seenu', 'Sommu', 'Ramu', 'Seenu', 'Sommu']
------------------
['Santhosh', 'Suriya', 'Ramu', 'Seenu', 'Sommu', 'Ramu', 'Seenu', 'Sommu']

In [4]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [6]:
print(list("Santhosh"))

['S', 'a', 'n', 't', 'h', 'o', 's', 'h']

In [7]:
a=[10,20,50,30,40,60,90]
a.sort()
print(a)

[10, 20, 30, 40, 50, 60, 90]

In [13]:

a.sort(reverse=True)
print(a)

[90, 60, 50, 40, 30, 20, 10]

In [15]:
a=["apple","Mango","Leaf"]
a.sort(key=len)
print(a)

['Leaf', 'apple', 'Mango']

# Tuple in Python

In [ ]:
"""
    Tuple in pyhton
    
    Immutable
    
    Suroounded by Round Brackets ()
    
"""

In [18]:
a=(1,3,"Ram",True)
print(a)
print(type(a))
print(type(a[3]))

print(a[1])
print(a[-1])
print(a[0:2])

(1, 3, 'Ram', True)
<class 'tuple'>
<class 'bool'>
3
True
(1, 3)

In [21]:
# We didnt add a any values in tuple .So,we can convert into list ,then we can add a elements and again convret into tuple.

b=list(a)
print(b)

b.append("Raju")
print(b)
print(type(b))

[1, 3, 'Ram', True]
[1, 3, 'Ram', True, 'Raju']
<class 'list'>

In [23]:
a=tuple(b)
print(a)
print(type(a))

(1, 3, 'Ram', True, 'Raju')
<class 'tuple'>

In [24]:
for i in a:
    print(i)

1
3
Ram
True
Raju

In [25]:
if "Raju" in a:
    print("Raju found...")
    
else:
    print("Raju not found....")

Raju found...

In [26]:
if "Raju" in a:
    print("Raju found...")
    
else:
    print("Raju not found....")
    
print(len(a))

Raju found...
5

In [27]:
a=(1)
print(a)
print(type(a))

1
<class 'int'>

In [28]:
a=(1,)
print(a)
print(type(a))

(1,)
<class 'tuple'>

In [29]:
del(a)

In [2]:
a=(1,2,3,4,5)
b=(3,6,7,8,9)
c=a+b
print(c)

(1, 2, 3, 4, 5, 3, 6, 7, 8, 9)

In [4]:
a=(1,2,3,4,5)
b=(3,6,7,8,9)
c=(a,b)
print(c)

((1, 2, 3, 4, 5), (3, 6, 7, 8, 9))

In [36]:
print(c[0])
print(c[0][2])

(1, 2, 3, 4, 5)
3

In [38]:
x=('Santhosh ')*10
print(x)

Santhosh Santhosh Santhosh Santhosh Santhosh Santhosh Santhosh Santhosh Santhosh Santhosh

In [39]:
a=(10,20,30,40)
print(min(a))
print(max(a))

10
40

In [43]:
def func(loosu):
    print("tharma" + loosu)
func("paithiyam")
func("porampoku")
func("bemani")

tharmapaithiyam
tharmaporampoku
tharmabemani

# Set in pyhton

In [44]:
names={'Ram','Sam','Ravi'}
print(names)
print(type(names))

{'Ram', 'Ravi', 'Sam'}
<class 'set'>

In [45]:
# Access values using for loop

for name in names:
    print(name)

Ram
Ravi
Sam

In [46]:
# Adding New element

names.add('Somu')
print(names)

{'Ram', 'Somu', 'Ravi', 'Sam'}

In [47]:

# Update another set of data

a={'Kumar','Sundar','Suresh'}
names.update(a)
print(names)

{'Somu', 'Ravi', 'Kumar', 'Ram', 'Suresh', 'Sundar', 'Sam'}

In [55]:
print(names)

names.remove('Kumar') #  Remove a elemnt
print(names)

{'Somu', 'Kumar', 'Ram', 'Suresh', 'Sundar', 'Sam'}
{'Somu', 'Ram', 'Suresh', 'Sundar', 'Sam'}

In [57]:
names.discard('Suresh')
print(names)

{'Somu', 'Ram', 'Sundar', 'Sam'}

In [60]:
names.pop()
print(names)

{'Sundar', 'Sam'}

In [61]:
names.clear()
print(names)

set()

In [64]:
del names
print(names)

NameError: name 'names' is not defined

In [67]:
a={1,3,2,5,4,6,7}
b={'a','s','f','d'}

c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 's', 'f', 'a', 'd'}

In [68]:
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 's', 'f', 'a', 'd'}

In [69]:
a={1,3,2,4,5}
b={99,8,2,1,4,5}

c=a.intersection(b)
print(c)

{1, 2, 4, 5}

In [70]:
a.intersection_update(b)
print(a)

{1, 2, 4, 5}

In [71]:
c=a.symmetric_difference(b)
print(c)

{99, 8}

In [72]:
a.symmetric_difference_update(b)
print(a)

{99, 8}

In [74]:
a={1,2,3,4}
b={5,6,7,8,}

c=a.isdisjoint(b)
print(c)

True

In [75]:
a={1,2,3,4}
b={5,6,7,8,4}

c=a.isdisjoint(b)
print(c)

False

In [76]:
c=a.issubset(b)
print(c)

False

In [77]:
c=a.issuperset(b)
print(c)

False

# Dict in python

In [78]:
user={
    "name":"Santhosh",
    "Age":20,
    "Gender":"Male"
}
print(user)

{'name': 'Santhosh', 'Age': 20, 'Gender': 'Male'}

In [79]:
print(type(user))
print(user["name"])

<class 'dict'>
Santhosh

In [82]:
print(user.get('Age'))
print(user.keys())
print(user.values())
print(user.items())

20
dict_keys(['name', 'Age', 'Gender'])
dict_values(['Santhosh', 20, 'Male'])
dict_items([('name', 'Santhosh'), ('Age', 20), ('Gender', 'Male')])

In [83]:
for x in user:
    print(x)

name
Age
Gender

In [84]:
for x in user:
    print(x)
    print(user[x])

name
Santhosh
Age
20
Gender
Male

In [85]:
for x in user:
    print(x," ",user[x])

name   Santhosh
Age   20
Gender   Male

In [87]:
for x in user.keys():
    print(x)

name
Age
Gender

In [88]:
for x in user.values():
    print(x)

Santhosh
20
Male

In [89]:
for x,y in user.items():
    print(x,y)

name Santhosh
Age 20
Gender Male

In [91]:
if "age" in user:
    print("Present")
    
else:
    print("Not Present")

Not Present

In [92]:
if "Age" in user:
    print("Present")
    
else:
    print("Not Present")

Present

In [93]:
# Changing value

user.update({"Married":"True"})
print(user)

{'name': 'Santhosh', 'Age': 20, 'Gender': 'Male', 'Married': 'True'}

In [94]:
user["Age"]=35
print(user)

{'name': 'Santhosh', 'Age': 35, 'Gender': 'Male', 'Married': 'True'}

In [95]:
print(user)

user.pop("Age")
print(user)

{'name': 'Santhosh', 'Age': 35, 'Gender': 'Male', 'Married': 'True'}
{'name': 'Santhosh', 'Gender': 'Male', 'Married': 'True'}

In [96]:
user.clear()
print(user)

{}

In [97]:
del user
print(user)

NameError: name 'user' is not defined

In [98]:
users={
    "user1":{
        "name":"Ram",
        "age":23,
        "Gender":"Male"
    },
    "user2":{
        "name":"Sam",
        "age":25,
        "Gender":"mle"
    }
}
print(users)

{'user1': {'name': 'Ram', 'age': 23, 'Gender': 'Male'}, 'user2': {'name': 'Sam', 'age': 25, 'Gender': 'mle'}}

In [ ]:
"""
    is
    
    is not
    
"""

In [99]:
a=[1,2]
b=[1,2]

c=a

print(id(a))
print(id(c))
print(id(b))

2809367011200
2809367011200
2809367062784

In [100]:
print(a is c)
print(a is b)
print(a==b)

True
False
True

In [101]:
print(a is not c)
print(a is not b)
print(a!=b)

False
True
False

In [102]:
# Example

a=[10,24,45,88]
print(10 in a)

True

In [103]:

a=[10,24,45,88]
print(10 not in a)

False

# Functions in Python

In [4]:
# No return type without Argument functions in python.

def add():
    a=int(input("Enter the value of A :"))
    b=int(input("Enter the value of B :"))
    c=a+b
    print("Total :",c)
    
add()

Enter the value of A :1
Enter the value of B :2
Total : 3

In [5]:
# No return type with argument function in python

def sub(a,b):
    c=a-b
    print("Difference :",c)

sub(3,1)

Difference : 2

In [6]:
# Return type without argument function in python
 
def mul():
    a=int(input("Enter a number A :"))
    b=int(input("Enter a number B :"))
    c=a*b
    return c

x=mul()
print("Multiplication value :",x)

Enter a number A :2
Enter a number B :3
Multiplication value : 6

In [7]:
# Return type with argument function in Python

def div(a,b):
    c=a/b
    return c

x=div(2,3)
print("Your value is :",x)

Your value is : 0.6666666666666666

In [8]:
# Arbitary arguments function in python(*)

def class_10(*students):
    print(students)
    
    for user in students:
        print(user)
        
class_10("Ram","Sam","Elen","Alan","Trons")

('Ram', 'Sam', 'Elen', 'Alan', 'Trons')
Ram
Sam
Elen
Alan
Trons

In [9]:
# Key Arguments Functionin Python

def message(name,age):
    print(name,"age is",age)
    
message("Santhosh",20)

Santhosh age is 20

In [10]:
def message(name,age):
    print(name,"age is",age)
    
message(age=20,name="Santhosh")

Santhosh age is 20

In [11]:
# Arbitary keyword Arguments in Python

def biodata(**data):
    print(data)
    
biodata(Name="Ram",Age=20,Gender="male")

{'Name': 'Ram', 'Age': 20, 'Gender': 'male'}

In [12]:
# Default parameter function in python

def user(name,city="Karur"):
    print(name,"from",city)
    
user("Santhosh")

Santhosh from Karur

In [14]:
def user(name,city="Karur"):
    print(name,"from",city)
    
user("Santhosh","Trichy")
user("Tharma")

Santhosh from Trichy
Tharma from Karur

In [17]:
# Passing a list as an argument in function python

def total(marks):
    return sum(marks)

x=total([56,67,78,45,56])
print("Total :",x)

Total : 302

In [27]:
# Recursive function

# Factorial 1*2*3*4*5=120

def factorial(x):
    if x==1:
        return 1
    
    else:
        return(x * factorial(x-1))

factorial(5)

print("Factorial values :",factorial(5))

120

# lambda func...

In [28]:
c=lambda a:a+50
print(c(5))

55

In [29]:
c=lambda a,b:a*b
print(c(2,3))

6

# Date Time Package in Python

In [33]:
import datetime as dt
    
current_date=dt.date.today()
print("Current date is :",current_date)

Current date is : 2023-01-26

In [36]:
new_date=dt.date(2021,11,11)
print(new_date)

print()

print("Year :",new_date.year)
print("Month :",new_date.month)
print("Day :",new_date.day)

2021-11-11

Year : 2021
Month : 11
Day : 11

In [40]:
# Now ,let us see time in python

t=dt.time(10,45,54,67445)
print(t)

print()

print("Hour :",t.hour)
print("Minute :",t.minute)
print("Second :",t.second)
print("Micro second :",t.microsecond)

10:45:54.067445

Hour : 10
Minute : 45
Second : 54
Micro second : 67445

In [41]:
# Now,we will print both time and date

current_time=dt.datetime.now()
print("Current date and time :",current_time)

Current date and time : 2023-01-26 20:05:22.136238

In [47]:
new=dt.datetime(2021,4,5,5,45,59,789)
print(new)

print()

print(new.date())
print(new.time())

2021-04-05 05:45:59.000789

2021-04-05
05:45:59.000789

In [52]:
current=dt.datetime.now()

new_year=dt.datetime(2024,1,1)

difference=new_year-current    # To calculate a number of days to nxt year

print(difference)

339 days, 3:46:45.611885

In [53]:
current=dt.datetime.now()
print(current)

2023-01-26 20:13:41.726996

In [56]:
s=current.strftime("%A %b %D")   # There are available number of varients
print(s)

Thursday Jan 01/26/23

# Math func in Python

In [62]:
import math

print(math.sqrt(4))

print(math.ceil(1.555))

print(math.floor(1.555))

# Factorial 5! = 5*4*3*2*1

print(math.factorial(5))

print(math.fabs(-5))

print(math.pow(2,3))

print(math.log2(2))

print(math.log10(2))

print(math.pi)

print(math.e)

2.0
2
1
120
5.0
8.0
1.0
0.3010299956639812
3.141592653589793
2.718281828459045

# Try Block in Python

In [63]:
try:
    a=10/0
    
except Exception as e:
    print(e)

division by zero

In [66]:
try:
    a=10/2
    
except Exception as e:
    print(e)
    
else:
    print("A value is ",a)

A value is  5.0

In [67]:
try:
    a=10/2
    
except Exception as e:
    print(e)
    
else:
    print("A value is ",a)
    
finally:
    print("Thank You...")

A value is  5.0
Thank You...

# PYHTON OOPS

In [ ]:
"""
    Class and Objects :
    
        A class is a blueprint or services as a template from which individual objects are created.
        
        A object is an instance of a class which consists of method and properties.
"""

In [ ]:
"""
    class car:
    
    Data member(states):
    model 
    color
    Brand
    
    Member Function or Method(Behaviour)
    Start
    Accelerate
    Brake
    
"""

In [3]:
class car:
    pass

a=10
print(type(a))

print(type(car))

swift=car()                   #  Instance
print(isinstance(swift,car))

print(isinstance(a,int))

print(type(swift))

<class 'int'>
<class 'type'>
True
True
<class '__main__.car'>

# Create Attributes in Python

In [4]:
class student():
    name="Santhosh"
    age=25
    
    
# getattr method

print(getattr(student,'name'))
print(getattr(student,'age'))

Santhosh
25

In [6]:
class student():
    name="Santhosh"
    age=25
    
    
# getattr method

print(getattr(student,'name'))
print(getattr(student,'age'))

print(getattr(student,'gender'))   # Here,We call the object ,but has a no attribute (means no value,no output).

Santhosh
25

AttributeError: type object 'student' has no attribute 'gender'

In [13]:
class student():
    name="Santhosh"
    age=25
    
    
# getattr method

print(getattr(student,'name'))
print(getattr(student,'age'))

print(getattr(student,'gender','No attribute value is found....'))

print()

# And we also used (Dot Notation)

print(student.name)
print(student.age)

print()

# setattr (means add a new value ,that is called setattr(Set Attribute))

setattr(student,'name','Sandy')
print(student.name)

setattr(student,'gender','Male')
print(student.gender)

print()

#Another way...

student.city="Karur"
print(student.city)

Santhosh
25
No attribute value is found....

Santhosh
25

Sandy
Male

Karur

# Instance Attribute in Python

In [18]:
class user:
    course='Java'
    
o=user()             # Now,we create the instance that means object.
print(user.course)   # print class attribute.

print(o.course)

print()

print(user.__dict__)

Java
Java

{'__module__': '__main__', 'course': 'Java', '__dict__': <attribute '__dict__' of 'user' objects>, '__weakref__': <attribute '__weakref__' of 'user' objects>, '__doc__': None}

In [19]:
class user:
    course='Java'
    
o1=user()  
print(o1.course)

o2=user()
print(o2.course)

Java
Java

# Class method in Python

In [21]:
class student:
    name="Santhosh"
    age=20
    
    def printall():
        print('Name :',student.name)
        print('Age :',student.age)
        
student.printall()

print(getattr(student,'printall'))

print(student,"printall")

Name : Santhosh
Age : 20
<function student.printall at 0x000001DDCC113550>
<class '__main__.student'> printall

In [23]:
class student:
    name="Santhosh"
    age=20
    
    def printall():
        print('Name :',student.name)
        print('Age :',student.age)
        
student.printall()

print(getattr(student,'printall'))

# print(student,"printall")()

Name : Santhosh
Age : 20
<function student.printall at 0x000001DDCC113820>

In [24]:
class student:
    name="Praveen"
    age=25
    
    def printall():
        print('Name :',student.name)
        print('Age :',student.age)
        
obj=student()

obj.printall()

TypeError: printall() takes 0 positional arguments but 1 was given

In [26]:
class student:
    name="Praveen"
    age=25
    
    def printall(self):               # self means constructor (Be like constructor)
        print('Name :',student.name)
        print('Age :',student.age)
        
obj=student()

student.printall(obj)

Name : Praveen
Age : 25

In [28]:
class student:
    name="Praveen"
    age=25
    
    def printall(self):               # Now,we have to adding the new value("Gender") by using the constructor.
        print('Name :',student.name)
        print('Age :',student.age)
        
obj=student()

# student.printall(obj)

obj.printall()

Name : Praveen
Age : 25

In [31]:
class student:
    name="Praveen"
    age=25
    
    def printall(self,gender):               # Now,we have to adding the new value("Gender") by using the constructor.
        print('Name :',student.name)
        print('Age :',student.age)
        print('Gender :',gender)
        
obj=student()

# student.printall(obj)

obj.printall('Male')   # We pass the value ,but didnt give the print statement.

Name : Praveen
Age : 25
Gender : Male

In [33]:
class student:
    name="Praveen"
    age=25
    
    def printall(self,gender):               # Now,we have to adding the new value("Gender") by using the constructor.
        print('Name :',student.name)
        print('Age :',student.age)
        print('Gender :',gender)
        
obj=student()

# student.printall(obj)

obj.printall('Male')   

student.printall(obj,"Male")  # And we also print like this.

Name : Praveen
Age : 25
Gender : Male
Name : Praveen
Age : 25
Gender : Male

# init method in python

In [2]:
class user:
    def __init__(self):
        print("Call When new instance created...")
        
obj1=user()

Call When new instance created...

In [3]:
class user:
    def __init__(self):
        print("Call When new instance created...")
        
obj1=user()

obj2=user()  # Be like another instance also access it.

Call When new instance created...
Call When new instance created...

In [1]:
class user:
    def __init__(self,name):      # Passing a argument
        print("Call when new instance is created")
        self.name=name
        
    def printall(self):
        print("Name :",self.name)
        
o1=user()
o1.printall()

TypeError: __init__() missing 1 required positional argument: 'name'

In [11]:
class user:
    def __init__(self,name):      # Passing a argument
        print("Call when new instance is created")
        self.name=name
        
    def printall(self):
        print("Name :",self.name)
        
o1=user('Santhosh')
o1.printall()

obj2=user("Sandy")
obj2.printall()

Call when new instance is created
Name : Santhosh
Call when new instance is created
Name : Sandy

# Property Decorator

In [14]:
class user:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        self.msg=self.name + "is" +str(self.age)
        
obj=user("Santhosh",20)
print(obj.name)
print(obj.age)
print(obj.msg)

Santhosh
20
Santhoshis20

In [20]:
class user:
    def __init__(self,name,age):
        self.name=name
        self.age=age 
#         self.msg=self.name + " is " + str(self.age)+" years old. "
        
    def msg(self):
        return self.name + " is " + str(self.age)+" years old. "
        
obj=user("Santhosh",20)
print(obj.name)
print(obj.age)

obj.age=45
print(obj.msg())

Santhosh
20
Santhosh is 45 years old.

In [21]:
class user:
    def __init__(self,name,age):
        self.name=name
        self.age=age 
#       self.msg=self.name + " is " + str(self.age)+" years old. "
      
    @property
    def msg(self):
        return self.name + " is " + str(self.age)+" years old. "
        
obj=user("Santhosh",20)
print(obj.name)
print(obj.age)

obj.age=45
print(obj.msg)  # Now we have to use no function property.Because,you have to use property.

Santhosh
20
Santhosh is 45 years old.

# Property Decorator getter setter

In [25]:
class student:
    def __init__(self,total):
        self.total=total
        
    def average(self):
        return self.total/5
    
obj=student(450)
print(obj.total)
print(obj.average())

450
90.0

In [31]:
class student:
    def __init__(self,total):
        self.total=total
        
    def average(self):
        return self.total/5
    
obj=student(450)
print(obj.total)
print(obj.average())

print()

obj.total=350
print(obj.total)
print(obj.average())   # Doubt correct output

450
90.0

350
70.0

In [1]:
class student:
    def __init__(self,total):
        self._total=total          # Now,we have to use setter operator
        
    def average(self):
        return self._total/5
    
    @property
    def total(self):
        return self._total
    
obj=student(450)
print(obj.total)
print(obj.average())

obj.total=350
print(obj.total())
print(obj.average())

450
90.0

AttributeError: can't set attribute

In [34]:
class student:
    def __init__(self,total):
        self._total=total          # Now,we have to use setter operator
        
    def average(self):
        return self._total/5
    
    @property
    def total(self):
        return self._total
    
    @total.setter
    def total(self,t):
        self._total=t
    
obj=student(450)
print(obj.total)
print(obj.average())

obj.total=550
print(obj.total)
print(obj.average())

450
90.0
550
110.0

In [41]:
# Another way ,we have to set the (Setter value)

class student:
    def __init__(self,total):
        self._total=total
        
    def average(self):
        return self._total/5.0
    
    def getter(self):
        return self._total
        
    def setter(self,t):
        if t<0 or t>500:
            print("Invalid total and cant change")
            
        else:
            self._total=t
            
    total=property(getter,setter)
        
obj=student(450)
print(obj.total)
print(obj.average())

print()

obj.total=500
print("Total :",obj.total)
print("Average :",obj.average())

450
90.0

Total : 500
Average : 100.0

In [47]:
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def printDetail(self):
        print(self.name + " is "+str(self.age)+" years old. ")
        
obj=student('Santhosh',23)
# print(obj.printDetail())

obj.printDetail()

Santhosh is 23 years old.

In [56]:
class student:
    count=0
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
        student.count +=1
        
    def printdetail(self):
        print("Name :",self.name,"Age :",self.age)
        
    @classmethod
    def total(cls):
        return cls.count
    
obj=student("Santhosh",20)
obj.printdetail()

obj1=student("Raja",18)
obj1.printdetail()

print("Total Admission :",student.total())  # (or)
print("Total Admission :",obj1.total())

Name : Santhosh Age : 20
Name : Raja Age : 18
Total Admission : 2
Total Admission : 2

# Static method in Python

In [61]:
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
    def printdetail(self):
        print('Name :',self.name,'Age :',self.age)
        
    @staticmethod
    def welcome():
        print("Welcome to our Progrma training...")  # Automatically print
        
s1=student("Joesph",19)
s1.printdetail()
s1.welcome()

s2=student("Raja",29)
s2.printdetail()
s2.welcome()

Name : Joesph Age : 19
Welcome to our Progrma training...
Name : Raja Age : 29
Welcome to our Progrma training...

# Data Abstraction

In [ ]:
"""
    Data abstraction refers to providing only essential information to the outside world
    and hiding their background details.
    
    To represents the needed information in program without presenting the details.
    
    Data Encapsulation:
    
    Encapsulation is a process of wrapping code and data together into a single unit.
    
"""

In [ ]:
class library:
    def __init__(self,Books):
        self.Books=Books
        
    def list_books(self):
        print("Available Books")
        for book in self.Books:
            print(book)
            
    def barrow_book(self,barrow_books):
        if barrow_books in self.Books:
            print("Get Your Book...")
            self.Books.remove(barrow_books)
            
        else:
            print("Book is not available...")
            
    def recevie_book(self,recevie_book):
        print("You have the return the Book....")
        self.Books.append(recevie_book)
        
        
Books=['Java','C Sharp','Python','Orcale']

obj=library(Books)

msg="""
        1.Display Book
        2.Barrow Book
        3.return Book
    """
  print(msg)
    
    
while True:
  
    ch=int(input("Please enter the option :"))
    
    if ch==1:
        print("The available Books are")
        obj.list_books()
        
    elif ch==2:
        print("Which book are you want???")
        obj.barrow_book(Books)
        
    elif ch==3:
        print("Enter the book to return...")
        obj.recevie_book(Books)
        
    else:
        print("Thank You...")
        Quit()

In [ ]:
class library:
    def __init__(self,Books):
        self.Books=Books
        
    def list_books(self):
        print("Available Books")
        for book in self.Books:
            print(book)
            
    def barrow_book(self,barrow_books):
        if barrow_books in self.Books:
            print("Get Your Book...")
            self.Books.remove(barrow_books)
            
        else:
            print("Book is not available...")
            
    def recevie_book(self,recevie_book):
        print("You have the return the Book....")
        self.Books.append(recevie_book)
        
        
Books=['Java','C Sharp','Python','Orcale']

obj=library(Books)

msg="""
        1.Display Book
        2.Barrow Book
        3.return Book
    """
  print(msg)
    
    
while True:
  
    ch=int(input("Please enter the option :"))
    
    if ch==1:
        print("The available Books are")
        obj.list_books()
        
    elif ch==2:
        print("Which book are you want???")
        obj.barrow_book(Books)
        
    elif ch==3:
        print("Enter the book to return...")
        obj.recevie_book(Books)
        
    else:
        print("Thank You...")

In [3]:
class library:
    def __init__(self,Books):
        self.Books=Books
        
    def list_books(self):
        print("Available Books")
        for book in self.Books:
            print(book)
            
    def barrow_book(self,barrow_books):
        if barrow_books in self.Books:
            print("Get Your Book...")
            self.Books.remove(barrow_books)
            
        else:
            print("Book is not available...")
            
    def recevie_book(self,recevie_book):
        print("You have the return the Book....")
        self.Books.append(recevie_book)
        
        
Books=['Java','C Sharp','Python','Orcale']

obj=library(Books)

msg="""
        1.Display Book
        2.Barrow Book
        3.return Book
    """
print(msg)
    
    
while True:
  
    choose=int(input("Please enter the option :"))
    
    if choose==1:
        print("The available Books are")
        obj.list_books()
        
    elif choose==2:
        print("Which book are you want???")
        obj.barrow_book(Books)
        
    elif choose==3:
        print("Enter the book to return...")
        obj.recevie_book(Books)
        
    else:
        print("Thank You...")

        1.Display Book
        2.Barrow Book
        3.return Book

Please enter the option :2
Which book are you want???
Book is not available...
Please enter the option :3
Enter the book to return...
You have the return the Book....
Please enter the option :2
Which book are you want???
Get Your Book...
Please enter the option :2
Which book are you want???
Book is not available...
Please enter the option :1
The available Books are
Available Books
Java
C Sharp
Python
Orcale
Please enter the option :

ValueError: invalid literal for int() with base 10: ''

""" 
    Single Inheritance:
        
        Inheritance is a process in which one object acquries all the properities
        and behaviour of its parent object automatically.
        
        Single Inheritance is defined as the inheritance in which a derived class is
        Inherited from the only one base class.
        
 """

# Single Inheritance In Python

In [5]:
class Nokia:
    company="Nokia India"
    website="www.nokia-india.com"
    
    def printdetail(self):
        print("Address : Cherry Road,Near Bus stand,Trichy-32")
        
class Nokia1100(Nokia):
    def __init__(self):
        self.name="Nokia 1100"
        self.year=2021
        
    def product_details(self):
        print("Name :",self.name)
        print("year :",self.year)
        print("Company :",self.company)
        print("Website :",self.website)
        
        
obj=Nokia1100()
obj.product_details()

Name : Nokia 1100
year : 2021
Company : Nokia India
Website : www.nokia-india.com
Address : Cherry Road,Near Bus stand,Trichy-32

In [6]:
class Nokia:
    company="Nokia India"
    website="www.nokia-india.com"
    
    def printdetail(self):
        print("Address : Cherry Road,Near Bus stand,Trichy-32")
        
class Nokia1100(Nokia):
    def __init__(self):
        self.name="Nokia 1100"
        self.year=2021
        
    def product_details(self):
        print("Name :",self.name)
        print("year :",self.year)
        print("Company :",self.company)
        print("Website :",self.website)
        
        
obj=Nokia1100()
obj.product_details()
obj. printdetail()

Name : Nokia 1100
year : 2021
Company : Nokia India
Website : www.nokia-india.com
Address : Cherry Road,Near Bus stand,Trichy-32

In [ ]:
"""
    Multiple Inheritance :
        
        Multiple Inheritance is a feature of Object Orientd concept,where a class can inherit 
        properities of more than one parent class.
        
"""

In [7]:
class father:
    def fishing(self):
        print("Fishing in river....")
        
    def chess(self):
        print("Playing chess from father....")
        
class mother:
    def cooking(self):
        print("Cooking Food...")
        
    def chess(self):
        print("Playing chess from mother....")
        
class son(father,mother):
    def ride(self):
        print("Riding the Bike....")
        
obj=son()
obj.ride()
obj.cooking()
obj.fishing()

Riding the Bike....
Cooking Food...
Fishing in river....

# Multilevel Inheritance

In [11]:
class Grandfather:
    def Ownhouse(self):
        print("Grand father house...")
        
class father(Grandfather):
    def Ownbike(self):
        print("Father Bike....")
        
class son(father):
    def OwnBook(self):
        print("Son have a Book...")
        
obj=son()
obj.OwnBook()
obj.Ownbike()
obj.Ownhouse()

Son have a Book...
Father Bike....
Grand father house...

# Function Overriding....

In [17]:
class Employee:
    def workingHrs(self):
        self.hrs=50
        
    def printHrs(self):
        print("Total working Hrs :",self.hrs)
        
emply=Employee()
emply.workingHrs()
emply.printHrs()

Total working Hrs : 50

In [19]:
class Employee:
    def workingHrs(self):
        self.hrs=50
        
    def printHrs(self):
        print("Total working Hrs :",self.hrs)
        
# Now use a function Overriding.

class Traineer(Employee):
    def workingHrs(self):
          self.hrs=60
    

        
emply=Employee()
emply.workingHrs()
emply.printHrs()

training=Traineer()
training.workingHrs()
training.printHrs()

Total working Hrs : 50
Total working Hrs : 60

In [39]:
class Employee:
    def workingHrs(self):
        self.hrs=50
        
    def printHrs(self):
        print("Total working Hours :",self.hrs)
        
class Traineer(Employee):
    def workingHrs(self):
        self.hrs=60
            
    # Traineer Upgrade into employee
            
    def resetHrs(self):
        super().workingHrs()
        
emp=Employee()
emp. workingHrs()
emp.printHrs()

trn=Traineer()
trn.workingHrs()
trn.printHrs()

# Reset Traineer Hrs

trn.resetHrs()
trn.printHrs()

Total working Hours : 50
Total working Hours : 60
Total working Hours : 50

# Handing Diamond Problem in Python

In [2]:
class A:
    def display(self):
        print("I am display the class A")
        
class B(A):
    def display(self):
        print("I am display of the class B")
        
class C(B):
    def display(self):
        print("I am display the class C")
        
class D():
    def display(self):
        print("I am display the class D")
        
        
obj=D()
obj.display()

I am display the class D

In [13]:
class A:
    def display(self):
        print("I am display the class A")
        
class B(A):
    def display(self):
        print("I am display of the class B")
        
class C(B):
    def display(self):
        print("I am display the class C")
        
class D(C,B):
    pass 

#     def display(self):
#         print("I am display the class D")
        
        
obj=D()
obj.display()

I am display the class C

# Operator Overloading in Python

In [ ]:
"""
    a=10
    b=20
    print(a+b)
    
    a="Santhosh"
    b="Sandy"
    print(a+b)
    
"""

In [16]:
class Addition:
    def __init__(self,a):
        self.a=a
        
o1=Addition(5)
o2=Addition(10)

print("Total :",(o1+o2))

TypeError: unsupported operand type(s) for +: 'Addition' and 'Addition'

In [17]:
class Addition:
    def __init__(self,a):
        self.a=a
        
    def __add__(o1,o2):
        return o1.a+o2.a
        
o1=Addition(5)
o2=Addition(10)

print("Total :",(o1+o2))

Total : 15

In [19]:
class Addition:
    def __init__(self,a):
        self.a=a
        
    def __add__(o1,o2):
        return o1.a+o2.a
    
    def __sub__(o1,o2):
        return o1.a-o2.a
        
o1=Addition(5)
o2=Addition(10)

print("Total :",(o1+o2))
print("Total :", (o1-o2))

Total : 15
Total : -5

# Abstract Base class in Python

In [26]:
class Bank(ABC):
    @abstractmethod
    def loan(self): pass
    
    @abstractmethod
    def credit(self): pass
    
    @abstractmethod
    def debit(self): pass
    
class HDFC(Bank):
    def loan(self):
        print("We can provide 7.5% Interest loan...")
        
    def credit(self):
        print("HDFC provide credit...")
        
    def debit(self):
        print("HDFC provide Debit")
        
obj=HDFC()
obj.loan()
obj.credit()
obj.debit()

NameError: name 'ABC' is not defined

In [22]:
class Bank():
    @abstractmethod
    def loan(self):pass
    
    @abstractmethod
    def credit(self):pass
    
    @abstractmethod
    def debit(self):pass
    
class HDFC(ABC):
    def loan(self):
        print("We can provide 7.5% Interest loan...")
        
    def credit(self):
        print("HDFC provide credit...")
        
    def debit(self):
        print("HDFC provide Debit")
        
    # We can addition function also....
        
obj=HDFC()
obj.loan()
obj.credit()
obj.debit()
obj.card()

NameError: name 'ABC' is not defined

# Read a Text file in python

In [29]:
file=open("Desktop//Txt.txt","r")
print(file.read())

FileNotFoundError: [Errno 2] No such file or directory: 'Desktop//Txt.txt'

In [ ]:
try:
    file=open(File Location,"r")
    print(file.read())
    
except Exception:
    print("Eror")
    
else:
    file.close()

# Readline & readline in Python

In [30]:
try:
    file=open("File Location",'r')
    print(file.readline())  # It is used to print to single line.
    
except FileNotFoundError:
    print("Error")

else:
    file.close()

Error

In [ ]:
try:
    file=open("File Location",'r')
    print(file.readline()) 
    print(file.readline(2))   # It is used to print first 2 letters.
    
except FileNotFoundError:
    print("Error")

else:
    file.close()

In [ ]:
try:
    file=open("File Location",'r')
    print(file.readline()) 
    print(file.readline(5))   # It is used to print first 5 letters.
    
except FileNotFoundError:
    print("Error")

else:
    file.close()

In [ ]:
try:
    file=open("File Location",'r')
    print(file.readline()) 
    print(file.readline(5))   # It is used to print first 5 letters.
    print(file.readlines())
    
except FileNotFoundError:
    print("Error")

else:
    file.close()

# Loop line by in Python File concept

In [ ]:
try:
    file=open(file location,'r')
    
    for line in file:
        print(line)
        
except filenotfound:
    print("Error")
    
else:
    file.close()

# Write or Overwrite a File in Python

In [ ]:
try:
    file=open(file location,'w')
    file.write("This is a stanely from Tutor Joes")
    file.close()
    
    file=open(file Location,'r')
    for line in file:
        print(line)
        
except filenotfound:
    print("Error")
    
else:
    file.close()

In [ ]:
try:
    file=open(file location,'w')
    file.write("This is a stanely from Tutor Joes")
    file.close()
    
    file=open(file Location,'r')
    print(file.read())
        
except filenotfound:
    print("Error")
    
else:
    file.close()

# Append Mode File in Python

try:
    file=open(file location,"a")
    file.write("We can write anything in a file ,It can ba also known as file Overwrite")
    
    file=open("file location","r")
    print(file.read())
    
except filenotfound:
    print("Error")
    
else:
    file.close()

# Delete a File in Python

In [ ]:
import os

if os.path.exists("file loction.txt"):
    os.remove("test.txt")
    
else:
    print("file Not found")

In [ ]:
import os

if os.path.exists("folder name"):
    os.remove("folder name")
    # os.rmdir("folder name")
    
else:
    print("file Not found")